body{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-clear-noodle-noodle-catering-advertising-poster-background-material-image_138759.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 720px;
    min-width: 1500px;
    font-size: 17px;
}

h1{
    text-align: center;
    font-family: cursive;
}

ul{
    list-style-type: none;
    margin-left: 530px;
}

li{
    display: inline;
}

.show{
    width: 500px;
    margin: 0 570px;
}

.sho{
    opacity:0.75;
}

.sho:hover{
    opacity:1.25;
}

#my-form{
    padding-left: 570px;
}